html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Cabin', sans-serif;
}


h2, h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.25rem;
    color: #F4B3AA;
}

p {
    font-size: 1.25rem;
    color: #252525;

    margin-bottom: 1.2rem;
}

.button {
    text-decoration: none;
    color: #fff;
    background-color: #17A096;

    padding: 0.8rem 2rem;
    border-radius: 2rem;
}

/* --------------------- Hero ------------------------ */

.hero {
    background-color: #17A096;
}

.hero-wrapper {
    width: 85%;
    min-height: 57vw;
    margin: 0 auto;

    display: flex;
}

.hero-title {
    width: 50%;

    border: 1px solid red;
}

.hero-image {
    width: 37.87rem;
}

.hero-image {
    min-height: 100%;
    background-image: url(/images/massiel-capellan-profile-pic.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero-right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.hero-right nav {
    margin-top: 4rem;
}

.hero-right ul {
    list-style-type: none;

    display: flex;
    justify-content: flex-end;

    /* border: 1px solid red; */
}

.hero-right li {
    margin-left: 2rem;
}

.hero-right li a {
    text-decoration: none;
    color: #EBEAE9;
}

.hero-experience {
    margin-top: 8rem;
    margin-left: 3rem;

    /* border: 1px solid red; */
}

p.hero-description {
    font-size: 1.375rem;
    color: #fff;

    margin-bottom: 11.75rem;
    margin-left: 3rem;

    /* border: 1px solid red; */
}

/* ------------------- CV ------------------------ */

h4 {
    color: #FAD790;
    font-size: 1.9rem;
    line-height: 2rem;
}

.resume {
    background-color: #252525;
}

.resume-container {
    width: 85%;
    margin: 0 auto;
    padding: 4rem 0;

}

.resume-title h3 {
    font-size: 5.87rem;
    margin-bottom: 1rem;
}

.resume-data {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    margin-top: 4rem;

    border: 1px solid red;
}

.resume-experience {
    border: 1px solid red;
}

.resume-experience p {
    color:#fff;
    font-size: 1.25rem;

    margin-bottom: 2.5rem;
}

.resume-item {
    margin-bottom: 1.5rem;
}

.resume-item .item-title, .resume-hobbies .item-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    color: #17A096;
    margin-bottom: 0;
}

.resume-item .item-info, .resume-hobbies .item-info {
    color: #fff;
    font-size: 1.2rem;

    margin-bottom: 0;
}

.resume-item .item-detail {
    color: #fff;
    font-size: 1rem;

    margin-bottom: 0;
}

.resume-item .item-detail a {
    text-decoration: none;
    color: #fff;
    font-style: italic;
}

.resume-skills {
    border: 1px solid red;
}

.resume-skills h4, .resume-hobbies h4 {
    margin-bottom: 2.5rem;
}

.resume-skills .item-detail {
    margin-bottom: 0.7rem;
}